header{
    padding: 0.75rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    /* border:1px solid red; */
    width: 100%;
}
/* header div{
    border:1px solid red;
}
.test{
    border: 1px solid red;
} */

header div a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
}
header div img{
    width: 50px;
    height: 50px;
}
header div h1{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 0;
}
