.nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.nav a{
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 600;
}
.nav .login{
    color: #1CC29F;
    border: none;
    padding: 0.5rem 1rem;
    background: none;
}
.nav .signup{
    color: #fff;
    background-color: #1CC29F;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
   
    
}
